/*=============================== general styling ===============================*/
* {
	margin:0;
	padding:0;
}

body {
	margin: 0;
	background-color: white;
}

.page {
	height:100vh;
}

.sizeBarHeader {
	height:12vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pageBody {
	height:76vh;
	overflow: scroll;
}


.greyBarFooter {
	background-color: #C7C8CA;
	height: 12vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

/* .pageBody{
	padding-top: 20px;
} */

/*=============================== general styling for header ===============================*/
.sizeBarHeader {
	padding-left:5px;
	padding-right:5px;
	/* padding-bottom: 20px; */
}

select{
	height: 50px;
}
/* .sizeBarHeader img {
	width:100%;
} */

img.menuClass, img.arrowClass {
	width:50%;
}

.headerBar {
	height:10vh;
}

.backBtn, .headerLogo, .burgerMenu {
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.headerLogo .logoclass {
	display: block;
	height:75%;
}
.hamburger{
	width: 100%;
}

.green-1 {
	background-color: #B2D234;
}
/*=============================== general styling for footer ===============================*/

.footerBox {
	display:flex;
	align-items: center;
	height:auto;
	width:100%;
}


.footerLogo1, .footerLogo2, .copyRight {
	display:flex;
	align-items: center;
	justify-content: center;
	height:100%;
	/* padding: 5px; */
}


p.copyright-lakeridge {
	margin-bottom: 0;
	font-size: 0.8em;
	text-align: right;
}

.logoFooter{
	width: 69%;
}

.durhamLogo {
	width: 50%;
	/* margin: 29px 0px; */
}
footer{
	width: 100%;
	height: auto;
	background-color: #C7C8CA;
}

.logo_footer {
	width:70%;
}
/*=============================== layout for splash page===============================*/

.splashBody {
	height:100vh;
	display: flex;
	align-items: center;
}

.lakeridge_health_logo {
	max-width: 100%;
	height: 90%;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.copyright-lakeridge {
	font-family: 'Open Sans';
	font-style: italic;
}

/*===============================styling for landing page===============================*/
.info-Btn{
	width: auto;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.landing_page{
	display: flex;
}
.landing_page img{
	width: 100%;
	padding: 2vh 2vh;
}
.info-Btn a{
	background-color: #b3d235;
	font-weight: bolder;
	font-size: 2vh;
	border-radius: 5px;
	/* width: 30%; */
	transition: all 0.25s ease-in;
}
.info-Btn a:hover{
	border: 1px solid rgb(0, 179, 255);
	background-color: transparent;
	color: rgb(0, 179, 255);
	transition: all 0.25s ease-out;
}
.info{
	width: 100%;
	display: flex;
	align-items: flex-end;
}

#bodyPage{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}
/*===============================styling for main page===============================*/

.studyClass {
	border-radius: 5px;
	background-color: #F2F2F2;
}

.conditionClass {
	border-radius: 5px;
	background-color: #F2F2F2;
}

.otherClass {
	border-radius: 5px;
	background-color: #F2F2F2;
}

.researchStudy_title {
	color: #999999;
}

.condition_title {
	color: #999999;
}

.otherTerm_title {
	color: #999999;
}

.results_title {
	color: black;
}


/*===============================styling for results page===============================*/



/* .logo_box {
	height: 635px;
} */

.whiteBackground {
	color: white;
}

.page04Size {
	height: 500px;
}

h3 {
	color: white;
}

.recruitment_box {
	background-color: #F2F2F2;
	height: 77px;
	border-radius: 10px;
	
}
.recruitment_box h4{
	font-size: 16px;
	padding: 0.5em;
	margin: 0;
}
.circle{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.openforRecruitmentContainer {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.closedforRecruitmentContainer {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.recruitmentContainer{
	background-color: #F2F2F2;
	height: 77px;
	border: 1px solid #333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.5em;
}
.recruitment_status {
	color: #444A4D;
}
.result{
	margin-top: 20px;
	color: black;
	min-height: 100px;
	border-radius: 10px;
}
.result .resultName{
	font-weight: bold;
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 10px;

}
.greenHeader{
	background-color:#b3d235 !important
}
.greenDetails{
	background-color:#b3d23554 !important
}
.orangeHeader{
	background-color:#fc9430 !important
}
.orangeDetails{
	background-color:#fc933054 !important
}

.result .resultDetails{

	padding: 30px 20px;
	box-sizing: border-box;

}

.eligibilty_status {
	color: black;
	font-weight: bolder;
}

.contact_box {
	background-color: #F2F2F2;
	height: 187px;
	border-radius: 10px;
	padding: 10px 20px;
}

.contact_detail {
	color: black;
	font-style: italic;
	font-size: 18px;
	padding-top: 2em;
}

.contactInfo {
	color: black;
}

.contactDetail01 {
	color: black;
}
/*===============================styling for Hamburger menu screen ===============================*/
#hamburger1, #hamburger2, #hamburger3{
	cursor: pointer;
}
#hamburgerMenu{
	height: 100vh;
	width: 40%;
	background-color:#F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	right: 0;
	padding-left: 3vw;
	display: none;
	cursor: pointer;
	z-index: 999999;
}
#menu {
	width: 100%;
	height: 88vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}
#menu a{
	color: #444A4D;
	font-size: 1.6em;
	text-transform: uppercase;
	border-bottom: 1px solid #444A4D;
	padding: 2vh 0vw;
	display: flex;
	padding: 1em;
}
#menu a:hover{
	color:#B2D234;
}
#closeBtn{
	position: absolute;
	top: 2vh;
	height: 12vh;
}
#closeBtn img{
	max-width: 100%;
	width: 28%;
	justify-content: center;
	display: flex;
	align-content: center;
	
}

/* Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.logo_footer {
		width:50%;
	}
	.svgImg img, .info img{
		width: 65%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		justify-items: center;
		align-content: center;
		align-items: center;
	}
	.svgImg, .info{
		width: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
	}
}
/* Smartphones */
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) {
	.landing_para{
		font-family: "Open Sans";
		color: black;
		font-size: 10pt;
	}
	.info, .svgImg{
		display: flex;
		justify-content: center;
	}
	.info img, .svgImg img{
		width: 80%;
		text-align: center;
	}
	.info-Btn a{
		width: 50%;
	}
	.recruitment_status{
		font-size: 10pt;
	}

	.openforRecruitmentContainer {
		height: 40px;
	}
	.closedforRecruitmentContainer {
		height: 40px;
	}

	.recruitment_box {
		background-color: #F2F2F2;
		height: 40px;
		border-radius: 10px;
	}
	.headerLogo .logoclass {
		display:block;
		height:50%;
	}

	.logo_footer {
		width:100%;
	}

	img.menuClass, img.arrowClass {
		width: 100%;
	}

	.durhamLogo {
		width: 100%;
		/* margin: 29px 0px; */
	}
	#hamburgerMenu{
		width: 60%;
		z-index: 999999;
	}

}